@charset "utf-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea,
label {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
  -webkit-text-size-adjust:none; /* fix Chrome 12 px limit */
  color:#606060;
}
button,
input,
select,
label {
  vertical-align:middle;
}
label {
  padding-left:0.4em;
}
ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  padding-bottom:10px;
}
h1 {
  font-size:1.83em;/* 22px 与海尔字体大小一样 */
  ;
  font-family:\5FAE\8F6F\96C5\9ED1;
}
h2 {
  font-size:1.33em;/* 16px */
  color:#606060;
}
h3 {
  font-size:1.08em;/* 13px */
  color:#303030;
}
h4 {
  font-size:1em;/* 12px */
  color:#303030;
}
h5 {
  font-size:1em;/* 12px */
  color:#606060;
}
h6 {
  font-size:1em;/* 12px */
  color:#606060;
  font-weight:300;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}
small {
  font-size: 12px;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
/*
legend {
  color: #000000;
}
fieldset,
*/
img {
  border: 0 none;
}
a img,
span img{
  vertical-align:bottom;
}

em {
  color:#d71249;
  font-style:normal;
  font-weight:700;
}
em.point {
  color:#26539c;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table th {
  font-weight:300;
  text-align:left;
}
table tbody.tb_width_control td {
  height:0;
  line-height:0;
  padding:0;
  margin:0;
  overflow:hidden;
  border:none;
}
table td.tb_h_spacing {
  height:10px;
  line-height:1px;
  padding:0;
  margin:0;
  overflow:hidden;
  zoom:1;
}
table td.tb_h_divider {
  height:10px;
  line-height:1px;
  padding:0;
  margin:0;
  overflow:hidden;
  zoom:1;
  background-image: url(divider_h20_dd.png);
  background-repeat: repeat-x;
  background-position: left top;
}
table tr.tb_bg_grey td,
table td.tb_bg_grey {
  background-color:#f5f6f8;
}

.tb_bg1 {
}
.tb_bg2 {
  background-color:#f1f2f2;
}
/* tb_list */
.tb_list {
}
.tb_list thead th {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #a0a1a2;
  padding: 10px;
  font-weight: 700;
  color: #303030;
}
.tb_list tbody th {
  font-weight: 700;
  color: #303030;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ddd;
  padding: 10px;
}
.tb_list td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ddd;
  padding: 10px;
}



/* tb_list_s */
.tb_list_s {
}
.tb_list_s thead th {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #a0a1a2;
  padding: 5px 10px;
  font-weight: 700;
  color: #303030;
}
.tb_list_s tbody th {
  font-weight: 700;
  color: #303030;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ddd;
  padding: 5px 10px;
}
.tb_list_s td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ddd;
  padding: 5px 10px;
}



/* form 通用样式 */
.fm_col4_list {
}
.fm_col4_list ul {
  width:100%;
}
.fm_col4_list ul li {
  width:24%;
  float:left;
  display:inline;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow:hidden;
}
.fm_col4_list ul li input{
  width:auto;
}

.fm_col3_list {
}
.fm_col3_list ul {
  width:100%;
}
.fm_col3_list ul li {
  width:33%;
  float:left;
  display:inline;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow:hidden;
}
.fm_col3_list ul li input{
  width:auto;
}

input,
textarea {
  padding:3px;
  /* border:solid 1px #a7b0b5; */
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  overflow:hidden;
  color:#707070;
}
.fe_text,
.fe_textarea{
 border:solid 1px #a7b0b5;
}


input {
  line-height:14px;
  height:14px;
}
select {
  padding:3px;
}
input.nb {
  /* padding:3px 0; */
  border:none;
  vertical-align:middle;
}
fieldset{
  border:none;
}
/* hide content */
a.hc,
span.hc {
  width:0;
  overflow:hidden;
  display:inline-block;
}
/* 通用样式 */
/* 链接样式 */
/* 链接样式 > 全局 */
a {
  text-decoration: none;
  color:#d71249;
}
a:hover {
  text-decoration: none;
  color:#fe697d;
}



/* 一般链接 aw_ap =  A wrap arrow pink */
.aw_ap a,
.a_ap {
  color:#d71249;
  background-image: url(dot_h12.png);
  background-repeat: no-repeat;
  background-position: 0 0.25em;
  padding-left:12px;
  display:inline-block;
}
.aw_ap a:hover,
.a_ap:hover {
  color:#fe697d;
  background-position: -1000px 0.25em;
}
/* 列表链接 aw_al =  A wrap arrow list */
.aw_al a,
.a_al {
  color:#606060;
  background-image: url(dot_h12.png);
  background-repeat: no-repeat;
  background-position: 0 0.25em;
  padding-left:12px;
  display:inline-block;
}
.aw_al a:hover,
.a_al:hover {
  color:#fe697d;
  background-position: -1000px 0.25em;
}
/* 不带链接的列表 .nf_list_round_checked   */
.nf_list_round_checked {
}
.nf_list_round_checked li {
  background:url(nf_icon_h18w18_round_checked.png) left top no-repeat;
  padding-left:25px;
  line-height:18px;
  margin-bottom:5px;
}

/* 高亮列表链接 aw_ah =  A wrap arrow highlighted */
.aw_ah a,
.a_ah {
  color:#303030;
  background-image: url(dot_h12.png);
  background-repeat: no-repeat;
  background-position: 0 0.25em;
  padding-left:12px;
  display:inline-block;
  font-weight:700;
}
.aw_ah a:hover,
.a_ah:hover {
  color:#fe697d;
  background-position: -1000px 0.25em;
}


/* aw_lipb10 */
.aw_lipb10 li{
  padding-bottom:10px;
}
.aw_lipb5 li{
  padding-bottom:5px;
}



/* 列表样式 */
ul,
ol {
  list-style: none outside none;
  zoom:1;
}
/* lw_ddg = list  wrap dot disc grey */
.lw_ddg li,
.li_ddg {
  background-image: url(dot_h12.png);
  background-repeat: no-repeat;
  background-position: -4000px 0.25em;
  padding-left:12px;
  zoom:1;
}
/* 隐藏 */
.hide,
.hidden,
.invisible {
  display: none;
}
/* 清除浮动 */
.clf,
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
  width: 0;
  display:block;
}
/* 信息字体样式，需要用span包裹 */
span.info_error,
p.info_error {
  color:#d71249;
}
span.info_notice,
p.info_notice {
  color:#e1d87d;
}
span.info_success,
p.info_success {
  color:#98cb4f;
}
span.info_required {
  color:#d71249;
}
/*  */
input.info_error,textarea.info_error {
  border-color:#d71249;
}

input.info_notice {
  border-color:#e1d87d;
}
input.info_success {
  border-color:#98cb4f;
}
input.input_datapicker {
  width:70px;
}
/* padding */
.pd0 {
  padding: 0px;
}
.pd5 {
  padding: 5px;
}
.pd10 {
  padding: 10px;
}
.pd15 {
  padding: 15px;
}
.pd20 {
  padding: 20px;
}
.pd25 {
  padding: 25px;
}
.pd30 {
  padding: 30px;
}
/* padding-top */
.pt0 {
  padding-top: 0px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}
.pt30 {
  padding-top: 30px;
}
.pt35 {
  padding-top: 35px;
}
.pt40 {
  padding-top: 40px;
}
/* margin-top */
.mt0 {
  margin-top: 0px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mtm2{
  margin-top:-2px;
}
/* padding-bottom */
.pb0 {
  padding-bottom: 0px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb25 {
  padding-bottom: 25px;
}
.pb30 {
  padding-bottom: 30px;
}
/* margin-bottom */
.mb0 {
  margin-bottom: 0px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
/* Divider Horizontal Top/Bottom with color #DDdddd */
.dht_dd,
.dhb_dd {
  background-image: url(divider_h20_dd.png);
  background-repeat: repeat-x;
  background-position: 0px 0px;
}
.dhb_dd {
  background-position: 0px bottom;
}
/* Divider Horizontal Top/Bottom with color #A0a1a2 */
.dht_a0,
.dhb_a0 {
  background-image: url(divider_h20_a0.png);
  background-repeat: repeat-x;
  background-position: 0px 0px;
}
.dhb_a0 {
  background-position: 0px bottom;
}
/* Border Horizontal Top/Bottom with color #DDdddd */
.bht_dd {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ddd;
}
.bhb_dd {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ddd;
}
/* Border Horizontal Top/Bottom with color #A0a1a2 */
.bht_a0 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0a1a2;
}
.bhb_a0 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0a1a2;
}


/* 浮动的元素 */
.item-float{
}
.item-float .item-fl{
  float:left;
  display:inline;
}
.item-float .item-fr{
  float:right;
  display:inline;
}

/* zoom1 */
.zoom1{
  zoom:1;
}



/* star_select_red */
.star_select_red{
  font-size:0;
  background-image:url(stars_rating_red_sprites.png);
  background-repeat:no-repeat;
  vertical-align:middle;
  display:inline-block;
  height:18px;
  overflow:hidden;
}
.star_select_red a{
  width:15px;
  height:0;
  padding-top:18px;
  overflow:hidden;
  display:inline-block;
  outline:none;
}
.star_select_red input{
  display:none;
}
.star_0{
	background-position: left -0px;
}
.star_1{
	background-position: left -20px;
}
.star_2{
	background-position: left -40px;
}
.star_3{
	background-position: left -60px;
}
.star_4{
	background-position: left -80px;
}
.star_5{
	background-position: left -100px;
}




/* ajax_loading */
.ajax_loading{
  background-image: url(ajax_loading.gif);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 16px;
  width: 16px;	
  position: fixed;
  top:50%;
  left:50%;
  margin-top: -8px;
  margin-left: -8px;
  overflow:hidden;
}



