@charset "utf-8";
/* CSS Document */
.mod_calendar .minicalendar thead tr th.previous a {
  text-indent:0em;
  font-size:0px;
}

.mod_calendar .minicalendar thead tr th.next a {

  text-indent:0;
  font-size:0px;
}



.content_style ul li {
  list-style:none;
  background-image:url(../../images/en/dot_i5.png);
  background-repeat:no-repeat;
  background-position:left 7px;
  padding-left:15px;
  vertical-align:top;
  
}